---
- name: Reload systemd
  command: systemctl daemon-reload
  become: yes

- name: Restart myapp
  systemd:
    name: myapp
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes
